body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}
.jumbotron {
  background-image: url("dish_background.jpg");
  background-size: cover;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
}
.blog-post {
  margin-bottom: 40px;
}
.blog-post img {
  max-width: 100%;
  margin-bottom: 20px;
}
.card img{
  height: 240px;
}